@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* custom red */
  --color-c-red: #C05746;
  --font-sans: var(--font-barlow);
  --font-serif: var(--font-fraunces);
  --color-grey-200: #F7F8FA;
  --color-grey-300: #E6E7EB;
  --color-grey-400: #CED1DB;
  --color-grey-500: #A6AABA;
  --color-grey-600: #80859C;
  --color-grey-700: #63687D;
  --color-grey-800: #464957;
  --color-grey-900: #232839;
  --color-foreground: var(--foreground);
  --linear-primary: linear-gradient(262.29deg, #E9EBF7 26.04%, #FCEDED 100%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gtr {
  background-image: url('/globe.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -120px;
}

.card1 {
  background: linear-gradient(180deg, rgba(35, 40, 57, 0) 0%, #232839 57.23%);
}

/* .phone-input {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.75rem;
} */


.phone-input .PhoneInputCountry {
  padding: 16px 12px;
  margin-right: 0;
}

.phone-input .PhoneInputInput {
  flex: 1;
  border: none;
  outline: none;
  padding: 16px 12px 16px 0px;
}

.phone-input .PhoneInputInput::placeholder {
  color: #9ca3af;
}